# Which Gemini backend to use for all calls: "gemini" or "vertex".
GENAI_BACKEND=gemini

# Required if GENAI_BACKEND=gemini.
GEMINI_API_KEY=your-api-key

# Required if GENAI_BACKEND=vertex. (For free credits :)))
GOOGLE_CLOUD_PROJECT=your-project-id
GOOGLE_CLOUD_LOCATION=us-central1
